:local
  .root
    padding-top 15px

  .logo
    float left

    img
      height 40px
      margin 5px 10px 5px 5px

  .divider
    border-left 1px solid #ddd
    border-right 1px solid #fff

  .nav

    li
      float left
      margin 7px 10px
      list-style-type none
      height 36px
      line-height @height

    a
      display block
      color #777
      padding 0 10px

    &.right
      position absolute
      top 0
      right 0
